# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/Users/george/Workspace/splithub/packages/foundry/broadcast
/Users/george/Workspace/splithub/packages/foundry/out
# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist
packages/foundry/broadcast/Deploy.s.sol/*/run-*.json
packages/foundry/broadcast/DeploySplitHubRegistry.s.sol/*/run-*.json
packages/foundry/broadcast/RegisterChip.s.sol/*/run-*.json

packages/foundry/broadcast/Deploy.s.sol/84532/run-1764429762200.json
packages/foundry/broadcast/Deploy.s.sol/84532/run-1764430226342.json
packages/foundry/broadcast/Deploy.s.sol/84532/run-1764434125263.json
packages/foundry/broadcast/Deploy.s.sol/84532/run-1764434408206.json
packages/foundry/broadcast/Deploy.s.sol/84532/run-latest.json
packages/foundry/broadcast/DeploySplitHubRegistry.s.sol/84532/run-1764428532423.json
packages/foundry/broadcast/DeploySplitHubRegistry.s.sol/84532/run-latest.json
packages/foundry/broadcast/RegisterChip.s.sol/84532/run-1764429800563.json
packages/foundry/broadcast/RegisterChip.s.sol/84532/run-1764430763921.json
packages/foundry/broadcast/RegisterChip.s.sol/84532/run-latest.json


dev-tunnel.sh
Docs.md 
packages/foundry/broadcast/Deploy.s.sol/84532/run-1764439095221.json
packages/foundry/broadcast/Deploy.s.sol/84532/run-1764441832913.json
packages/foundry/broadcast/Deploy.s.sol/84532/run-1764445841105.json
packages/foundry/broadcast/RegisterChip.s.sol/84532/run-1764441901802.json

/Docs
packages/foundry/broadcast/DeployCreditToken.s.sol/84532/run-1764539694982.json
